<!DOCTYPE html>
<html>(Waiting for Sensor) 
<head>
    <title>My IoT Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>🚀 สถานีวัดคุณภาพอากาศIoT</h1>
    
    <div class="section-title">🌤️ สภาพอากาศ</div>
    <div class="container">
        <div class="card">
            <div class="label">Temperature</div>
            <div class="val" id="t">--</div>
            <div class="unit">°C</div>
        </div>
        <div class="card">
            <div class="label">Humidity</div>
            <div class="val" id="h">--</div>
            <div class="unit">%</div>
        </div>
        <div class="card">
            <div class="label">Pressure</div>
            <div class="val" id="p">--</div>
            <div class="unit">hPa</div>
        </div>
    </div>

    <div class="section-title">🚧 ฝุ่นละอองpm 🚧</div>
    <div class="container">
        <div class="card">
            <div class="label">PM 1.0</div>
            <div class="val pm-val" id="pm1">รอAPI...</div>
            <div class="unit">µg/m³</div>
        </div>
        <div class="card">
            <div class="label">PM 2.5</div>
            <div class="val pm-val" id="pm25">รอAPI...</div>
            <div class="unit">µg/m³</div>
        </div>
        <div class="card">
            <div class="label">PM 10</div>
            <div class="val pm-val" id="pm10">รอAPI...</div>
            <div class="unit">µg/m³</div>
        </div>
    </div>

    <div class="footer">
        Station Info: <span id="v">รอAPI...</span> BY PingkungXD
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
